.koszontelek-a-vr-bor {
    color: #000000;
    font-size: 42px;
    font-weight: bold;
    letter-spacing: -0.53px;
    line-height: 52px;
    margin-bottom: 20px;
}

.az-allasborzek-megte {
    color: #000000;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: -0.25px;
    line-height: 24px;
    margin-bottom: 30px;
}

.button{
    width: 100%;
    padding: 15px 0 15px 0;
    background-color: #2A2A2A;
    color: white;
    font-size: 20px;
    margin-bottom: 30px;
}

.forgotten-password{
    color: #2A2A2A;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: -0.25px;
    line-height: 24px;
    cursor: pointer;
    text-align: center;
}