.job-seeker-registration-one .csak-lepesrol-lepesr {
    color: #000000;
    font-size: 42px;
    font-weight: bold;
    letter-spacing: -0.53px;
    line-height: 52px;
    margin-bottom: 20px;
  }

  .job-seeker-registration-one .kerlek-add-meg-az-al {
    color: #000000;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: -0.25px;
    line-height: 24px;
  }