.process-circles {
    display: flex;
    justify-content: center;
    align-items: center;
}

.process-circles span {
    border: 1px solid #979797;
    border-radius: 50%;
    height: 21px;
    width: 21px;
    margin-right: 30px;
}

.process-circles span.active {
    height: 42px;
    width: 42px;
    background-color: #D8D8D8;
}